 
.card {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
  
  border-bottom: 1px solid #e9e8e8;
}

.card-container {
  flex: 1 1 calc(33.333% - 20px);
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  max-width: 300px;
  min-width: 250px;
  background-color: #fcfcfc;
  cursor: pointer;
  transition: border 0.3s ease;
}

.card-container.active {
  border: 1px solid #60a0b3;
  background-color: #f2fafb;
}

.card-heading {
  font-size: 1.2rem;
  color: #026786;
  font-weight: bold;
  margin-bottom: 10px;
}

.description-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.description-item {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  color: #555;
}

.icon {
  margin-right: 5px;
  color: #00a3ad;
}

.card-price {
  font-size: 1.3rem;
  color: #0d6786;
  margin-top: 15px;
}
 
.add-on-selection {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  border-top: 1px solid #e9e8e8;
}
.add-on-heading{
width: 100%;
}
.add-on-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 10px;
  background-color: #fcfcfc;
  cursor: pointer;
  flex-direction: row;
}

.add-on-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.add-on-text {
  margin-right: 10px;
  font-size: 1.1rem;
  color: #026786;
  padding-right: 20px;
}

.add-on-radio {
  transform: scale(1.2);
  accent-color: #00a3ad;
  padding-left: 10px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}

.card-container {
  flex: 1 1 calc(33.333% - 20px);
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  background-color: #fcfcfc;
  cursor: pointer;
}

.card-container.active {
  border: 1px solid #60a0b3;
  background-color: #f2fafb;
}

.card-heading {
  font-size: 1.2rem;
  margin-bottom: 7px;
  color: #026786;
  font-weight: 600;
}

.description-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.description-item {
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 5px;
}

.card-price {
  margin-top: 9px;
}

.payment-card {
  margin-top: 8px;
}

.input-with-icon {
  position: relative;
  display: flex;
  align-items: center;
}

.input-icon {
  position: absolute;
  left: 10px;  
  color: #888;  
  font-size: 20px;  
}

.input-field {
  padding: 10px 10px 10px 40px; 
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;  
  box-sizing: border-box;
}

.payment-info {
  color:#939393;
  font-size: 14px;
  margin-top: 7px;
}
.input-field::placeholder{
  color: #555;
  font-size: 15px;
}
@media (max-width: 768px) {
  .card-container {
    flex: 1 1 calc(50% - 20px);  
  }
}

@media (max-width: 480px) {
  .card-container {
    flex: 1 1 100%;  
  }
}
 
@media (max-width: 768px) {
  .card-container {
    flex: 1 1 calc(50% - 20px);
  }
  .add-on-card {
    width: 100%;  
  }
  .add-on-text {
    font-size: 0.9rem;
    color: #026786;
  }
  .add-on-heading p{
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .card-container {
    flex: 1 1 100%;
  }
}
